body {
  background-color:white;
  /* color: rgb(102,95,93); */
  color: rgb(79,75,74);
  font-family: 'Fira Code', monospace;
  font-weight: 400;
  font-size: 0.8rem;
}

.page {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0.5in; 
  width: 8.5in;
  height: 16.5in;
  background-color: rgb(233,227,218);
  box-shadow: 0 3px 8px -3px rgba(0, 0, 0, 0.7);
}

/***** general classes *****/
.bold {
  font-weight: bold;
}

.flex {
  display: flex;
}

.up {
  text-transform: uppercase;
}

.heading {
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.content {
  margin-top: 1rem;
  display: flex;
}

.content-icon {
  width: 30px;
  color: rgb(79,75,74);
  margin-right: 8px;
}

a:link, a:visited {
  text-decoration: none;
  color: rgb(79,75,74);
}

a:hover {
  font-weight: 600;
}

/* .skills {
  display: grid;
  grid-template-columns: 40px auto;
  grid-template-rows: auto;
} */

.skills > p {
  margin: 0;
}

.link-icon {
  width: 12px;
}

.header > div {
  margin-bottom: 0.5rem;
}

.header > h1 {
  text-align: center;
  font-size: 2.5rem;
  margin: 0 0 0.5rem;
}

.personal-info {
  display: flex;
  justify-content: center;
  margin: 0 0 1rem;
}

.personal-info > div {
  margin: 0 1rem;
}

.sub-projects {
  display: flex;
  align-items: center;
}

.sub-projects > p {
  /* margin: 1rem 2rem 1rem 0; */
  margin: 0 1rem 0 0;
  font-size: 0.9rem;
}

.sub-certificates {
  display: flex;
  align-items: center;
}

.sub-certificates > p {
  /* margin: 1rem 2rem 1rem 0; */
  margin: 0 1rem 0 0;
  font-size: 0.9rem;
}

.sub-award {
  display: flex;
  align-items: center;
}

.sub-award > p {
  /* margin: 1rem 2rem 1rem 0; */
  margin: 0 1rem 0 0;
  font-size: 0.9rem;
}

.project-links {
  display: flex;
  align-items: center;
}

.project-links > * {
  margin: 0 2px;
}

.project-links>*:hover {
  text-decoration: underline;
}

.certificate-links {
  display: flex;
  align-items: center;
}

.certificate-links > * {
  margin: 0 2px;
}

.certificate-links>*:hover {
  text-decoration: underline;
}

.award-desc {
  display: flex;
}

.award-desc > * {
  margin: 0 2px;
}

ul {
  margin-top: 0;
}

.job, .school {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.job > p {
  margin: 0 1rem 0 0;
  font-size: 0.9rem;
}

#fullstack {
  margin: 0 1rem 0 0;
  font-size: 0.9rem;
}

#calpoly {
  margin: 0.75rem 1rem 0 0;
  font-size: 0.9rem;
}

.interests {
  display: flex;
  justify-content: space-between;
}

.interest {
  display: flex;
  align-items: center;
}
#interests-icon {
  width: 24px;
}

.interest-icon {
  margin-right: 0.5rem;
}

#rock-climbing-icon {
  width: 24px;
}

#cooking-icon {
  width: 32px;
}

#podcast-icon {
  width: 24px;
}



@media print {
  html {
    height: 11in;
    width: 8.5in;
    overflow: hidden;
  }

  body {
    margin: 0;
  }

  .page {
    width: 100%;
    box-shadow: none;
  }
}
